.search {
  display: none;
}

@media screen and (max-width: 600px) {
  .search {
    display: flex;
    align-items: center;
    background-color: #000;
    height: 10vh;
  }
  
  .search > form {
    width: 100vw;
    align-items: center;
  }
  
  .search > form > input {
    width: 85vw;
    height: 30px;
    border: none;
    border-radius: 50px;
  }
  
  .search > a > svg {
    /* font-size: 2vmax; */
    transition: all 0.5s;
    color: white;
  }
}